.columnTop {
    background-color: #AE804C;
    border-top-style: solid;
    border-color: rgb(110, 110, 110);
    margin-left: 100px;
    width: 62%;
    padding: 10px;
    padding-left: 35px;
    position: static;
    float: top;
    height: 10%;
    font-size: 25px;
    border-radius: 10px 100px;
    color: rgb(255, 255, 255);
    font-weight: 100px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Optima';
    margin-top: 100px;
    margin-bottom: -5%;
    z-index: 1;

}